In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from sklearn.preprocessing import LabelEncoder, MultiLabelBinarizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data = [
  {
    "name": "Msgr. McGolrick Park",
    "address": "Russell St, Brooklyn, NY 11222, United States",
    "location": { "lat": 40.7245247, "lon": -73.9433692 },
    "category": "Park",
    "category2": "Parks"
  },
  {
    "name": "Kyoto Sushi",
    "address": "161 Nassau Ave, New York, NY 11222, United States",
    "location": { "lat": 40.7252302, "lon": -73.9469361 },
    "category": "Restaurant",
    "category2": "Japanese food"
  },
  {
    "name": "McCarren Park Playground",
    "address": "Brooklyn, NY  11222, United States",
    "location": { "lat": 40.7214208, "lon": -73.9498436 },
    "category": "Park",
    "category2": "Parks"
  },
  {
    "name": "Scalino Gp",
    "address": "659 Manhattan Ave, Brooklyn, NY 11222, United States",
    "location": { "lat": 40.7244821, "lon": -73.9514905 },
    "category": "Restaurant",
    "category2": "Italian food"
  },
  {
    "name": "IL Passatore",
    "address": "14 Bushwick Ave, Brooklyn, NY 11211, United States",
    "location": { "lat": 40.7143514, "lon": -73.9420846 },
    "category": "Restaurant",
    "category2": "Italian food"
  },
  {
    "name": "Forma Pasta Factory",
    "address": "14 Bedford Ave, Brooklyn, NY 11222, United States",
    "location": { "lat": 40.7237869, "lon": -73.9515415 },
    "category": "Restaurant",
    "category2": "Italian food"
  },
  {
    "name": "Forma Pasta Factory",
    "address": "14 Bedford Ave, Brooklyn, NY 11222, United States",
    "location": { "lat": 40.7237869, "lon": -73.9515415 },
    "category": "Restaurant",
    "category2": "Eating"
  },
  {
    "name": "Five Leaves",
    "address": "18 Bedford Ave, Greenpoint, BK 11222, United States",
    "location": { "lat": 40.7237322, "lon": -73.9516401 },
    "category": "Restaurant",
    "category2": "Eating"
  },
  {
    "name": "Sapps",
    "address": "27-26 Jackson Ave, Long Island City, NY 11101, United States",
    "location": { "lat": 40.7477387, "lon": -73.9401361 },
    "category": "Restaurant",
    "category2": "Japanese food"
  },
  {
    "name": "Gabe Lee Golf",
    "address": "24-22 Jackson Ave\nQueens, NY  11101\nUnited States",
    "location": { "lat": 40.7460587, "lon": -73.9444547 },
    "category": "Golf",
    "category2": "Golf"
  },
  {
    "name": "Sunshine Laundromat & Pinball",
    "address": "860 Manhattan Ave, Brooklyn, NY 11222, United States",
    "location": { "lat": 40.729305, "lon": -73.953651 },
    "category": "Laundry",
    "category2": "Arcade"
  },
  {
    "name": "Spritzenhaus33",
    "address": "33 Nassau Ave, New York, NY 11222, United States",
    "location": { "lat": 40.7232706, "lon": -73.9526975 },
    "category": "Nightlife",
    "category2": "Eating"
  },
  {
    "name": "McCarren Park",
    "address": "776 Lorimer St, Brooklyn, NY 11222, United States",
    "location": { "lat": 40.7209464, "lon": -73.9520652 },
    "category": "Park",
    "category2": "Parks"
  },
  {
    "name": "Radio Bakery",
    "address": "135 India St, Brooklyn, NY  11222, United States",
    "location": { "lat": 40.7323846, "lon": -73.9549761 },
    "category": "Bakery",
    "category2": "Eating"
  },
  {
    "name": "ACRE",
    "address": "64 Meserole Ave, Brooklyn, NY 11222, United States",
    "location": { "lat": 40.7262125, "lon": -73.9545652 },
    "category": "Restaurant",
    "category2": "Eating"
  },
  {
    "name": "Caffè Panna",
    "address": "16 Norman Ave, Brooklyn, NY  11222, United States",
    "location": { "lat": 40.7243151, "lon": -73.9546144 },
    "category": "Restaurant",
    "category2": "Eating"
  },
  {
    "name": "Manetta's Ristorante",
    "address": "10-76 Jackson Ave, Long Island City, NY 11101, United States",
    "location": { "lat": 40.7426781, "lon": -73.9518355 },
    "category": "Restaurant",
    "category2": "Italian food"
  },
  {
    "name": "Rule of Thirds",
    "address": "171 Banker St, Brooklyn, NY 11222, United States",
    "location": { "lat": 40.7246483, "lon": -73.9550736 },
    "category": "Restaurant",
    "category2": "Japanese food"
  },
  {
    "name": "Rule of Thirds",
    "address": "171 Banker St, Brooklyn, NY 11222, United States",
    "location": { "lat": 40.7246483, "lon": -73.9550736 },
    "category": "Restaurant",
    "category2": "Eating"
  },
  {
    "name": "Nami Nori",
    "address": "236 N 12th St, Brooklyn, NY 11211, United States",
    "location": { "lat": 40.7191388, "lon": -73.9528327 },
    "category": "Restaurant",
    "category2": "Japanese food"
  },
  {
    "name": "Bamonte’s",
    "address": "32 Withers St, Brooklyn, NY 11211, United States",
    "location": { "lat": 40.7166475, "lon": -73.9512277 },
    "category": "Restaurant",
    "category2": "Italian food"
  },
  {
    "name": "Lilia Ristorante",
    "address": "567 Union Ave, Brooklyn, NY 11222, United States",
    "location": { "lat": 40.717539, "lon": -73.952421 },
    "category": "Restaurant",
    "category2": "Italian food"
  },
  {
    "name": "Ichiran",
    "address": "374 Johnson Ave, Brooklyn, NY 11206, United States",
    "location": { "lat": 40.7074951, "lon": -73.9333299 },
    "category": "Restaurant",
    "category2": "Japanese food"
  },
  {
    "name": "Ichiran",
    "address": "374 Johnson Ave, Brooklyn, NY 11206, United States",
    "location": { "lat": 40.7074951, "lon": -73.9333299 },
    "category": "Restaurant",
    "category2": "Eating"
  },
  {
    "name": "Barcade - Brooklyn",
    "address": "388 Union Ave, Brooklyn, NY 11211, United States",
    "location": { "lat": 40.71207, "lon": -73.95107 },
    "category": "Nightlife",
    "category2": "Arcade"
  },
  {
    "name": "Culture Lab LIC",
    "address": "5-25 46th Ave, Long Island City, NY  11101, United States",
    "location": { "lat": 40.7472641, "lon": -73.954181 },
    "category": "Culture",
    "category2": "Culture"
  },
  {
    "name": "WNYC Transmitter Park",
    "address": "West St. bet. Kent St. and Greenpoint Ave., Brooklyn, NY 11222, United States",
    "location": { "lat": 40.730015, "lon": -73.9608085 },
    "category": "Park",
    "category2": "Parks"
  },
  {
    "name": "Sea Wolf",
    "address": "19 Wyckoff Ave, Brooklyn, NY 11237, United States",
    "location": { "lat": 40.7068154, "lon": -73.922866 },
    "category": "Restaurant",
    "category2": "British food"
  },
  {
    "name": "Blend On The Water",
    "address": "45-40 Center Blvd, Long Island City, NY 11109, United States",
    "location": { "lat": 40.7480047, "lon": -73.9571285 },
    "category": "Restaurant",
    "category2": "Eating"
  },
  {
    "name": "Maria Hernandez Park",
    "address": "92 Irving Ave, Brooklyn, NY 11237, United States",
    "location": { "lat": 40.7031595, "lon": -73.9238852 },
    "category": "Park",
    "category2": "Parks"
  },
  {
    "name": "Radegast Hall",
    "address": "113 N Third St, Brooklyn, NY  11249, United States",
    "location": { "lat": 40.7166316, "lon": -73.9614794 },
    "category": "Nightlife",
    "category2": "Eating"
  },
  {
    "name": "La Nonna Italian Ristornate & Bar",
    "address": "184 Kent Ave, Brooklyn, NY  11249, United States",
    "location": { "lat": 40.7184857, "lon": -73.9638676 },
    "category": "Restaurant",
    "category2": "Italian food"
  },
  {
    "name": "Misi",
    "address": "329 Kent Ave, Brooklyn, NY 11249, United States",
    "location": { "lat": 40.7133866, "lon": -73.9671493 },
    "category": "Restaurant",
    "category2": "Italian food"
  },
  {
    "name": "Domino Park",
    "address": "15 River St, Brooklyn, NY 11249, United States",
    "location": { "lat": 40.7145835, "lon": -73.9680205 },
    "category": "Park",
    "category2": "Parks"
  },
  {
    "name": "Sakura 7",
    "address": "65-54 Grand Ave, Maspeth, NY  11378, United States",
    "location": { "lat": 40.7240117, "lon": -73.8987035 },
    "category": "Restaurant",
    "category2": "Japanese food"
  },
  {
    "name": "Socrates Sculpture Park",
    "address": "31-10 Vernon Blvd, Long Island City, NY 11106, United States",
    "location": { "lat": 40.7694079, "lon": -73.9356002 },
    "category": "Beach",
    "category2": "Beach"
  },
  {
    "name": "Wonderville",
    "address": "1186 Broadway, Brooklyn, NY 11221, United States",
    "location": { "lat": 40.6924061, "lon": -73.9275759 },
    "category": "Nightlife",
    "category2": "Arcade"
  },
  {
    "name": "Jones Wood Foundry",
    "address": "401 E 76th St, New York, NY  10021, United States",
    "location": { "lat": 40.7703294, "lon": -73.9536568 },
    "category": "Restaurant",
    "category2": "British food"
  },
  {
    "name": "Piccola Cucina Uptown",
    "address": "106 E 60th St, New York, NY  10022, United States",
    "location": { "lat": 40.7632667, "lon": -73.9689677 },
    "category": "Restaurant",
    "category2": "Italian food"
  },
  {
    "name": "The Clock Coffee Shop",
    "address": "335 Madison Ave, New York, NY 10017, United States",
    "location": { "lat": 40.753622, "lon": -73.9782184 },
    "category": "Cafe",
    "category2": "Culture"
  },
  {
    "name": "Katsu-Hama",
    "address": "11 E 47th St, New York, NY 10017, United States",
    "location": { "lat": 40.7564675, "lon": -73.9775245 },
    "category": "Restaurant",
    "category2": "Japanese food"
  },
  {
    "name": "The Churchill",
    "address": "45 E 28th St, New York, NY  10016, United States",
    "location": { "lat": 40.7436398, "lon": -73.9844602 },
    "category": "Nightlife",
    "category2": "British food"
  },
  {
    "name": "Rockefeller Center",
    "address": "45 Rockefeller Plz, New York, NY 10111, United States",
    "location": { "lat": 40.7586476, "lon": -73.9784414 },
    "category": "Landmark",
    "category2": "shopping"
  },
  {
    "name": "Rockefeller Center",
    "address": "45 Rockefeller Plz, New York, NY 10111, United States",
    "location": { "lat": 40.7586476, "lon": -73.9784414 },
    "category": "Landmark",
    "category2": "Shopping"
  },
  {
    "name": "Rockefeller Center",
    "address": "45 Rockefeller Plz, New York, NY 10111, United States",
    "location": { "lat": 40.7586476, "lon": -73.9784414 },
    "category": "Landmark",
    "category2": "Malls"
  },
  {
    "name": "Raku",
    "address": "342 E 6th St, New York, NY 10003, United States",
    "location": { "lat": 40.726462, "lon": -73.9866811 },
    "category": "Restaurant",
    "category2": "Japanese food"
  },
  {
    "name": "The Shops at The Plaza",
    "address": "1 W 58th St, New York, NY  10019, United States",
    "location": { "lat": 40.764257, "lon": -73.974493 },
    "category": "Store",
    "category2": "shopping"
  },
  {
    "name": "The Shops at The Plaza",
    "address": "1 W 58th St, New York, NY  10019, United States",
    "location": { "lat": 40.764257, "lon": -73.974493 },
    "category": "Store",
    "category2": "Shopping"
  },
  {
    "name": "The Milton",
    "address": "1754 Second Ave, New York, NY 10128, United States",
    "location": { "lat": 40.7812819, "lon": -73.9490508 },
    "category": "Restaurant",
    "category2": "British food"
  },
  {
    "name": "The Clocktower",
    "address": "5 Madison Ave, New York, NY  10010, United States",
    "location": { "lat": 40.7413294, "lon": -73.987496 },
    "category": "Restaurant",
    "category2": "British food"
  },
  {
    "name": "Premier Indoor Golf",
    "address": "1 E 28th St, FL 3, New York, NY  10016, United States",
    "location": { "lat": 40.7446884, "lon": -73.9867508 },
    "category": "Golf",
    "category2": "Golf"
  },
  {
    "name": "Bryant Park",
    "address": "40th and 42nd Streets & Fifth and Sixth Avenues, New York, NY 10018, United States",
    "location": { "lat": 40.7537673, "lon": -73.9835805 },
    "category": "Park",
    "category2": "Parks"
  },
  {
    "name": "Bake Culture",
    "address": "22 St Marks Pl, New York, NY  10003, United States",
    "location": { "lat": 40.7288356, "lon": -73.9888985 },
    "category": "Bakery",
    "category2": "Culture"
  },
  {
    "name": "Madison Square Park",
    "address": "11 Madison Ave\nFL 15\nNew York, NY 10010\nUnited States",
    "location": { "lat": 40.7422533, "lon": -73.9878567 },
    "category": "Park",
    "category2": "Parks"
  },
  {
    "name": "Barcade",
    "address": "6 St Marks Pl, New York, NY 10003, United States",
    "location": { "lat": 40.7291799, "lon": -73.9895264 },
    "category": "Nightlife",
    "category2": "Arcade"
  },
  {
    "name": "Culture Espresso",
    "address": "72 W 38th St, New York, NY  10018, United States",
    "location": { "lat": 40.7519536, "lon": -73.9858097 },
    "category": "Cafe",
    "category2": "Culture"
  },
  {
    "name": "KazuNori",
    "address": "15 W 28th St, New York, NY 10001, United States",
    "location": { "lat": 40.7451835, "lon": -73.9882386 },
    "category": "Restaurant",
    "category2": "Japanese food"
  },
  {
    "name": "Culture House",
    "address": "958 Sixth Ave, New York, NY 10001, United States",
    "location": { "lat": 40.7502722, "lon": -73.9871167 },
    "category": "Culture",
    "category2": "Culture"
  },
  {
    "name": "La Pecora Bianca",
    "address": "1133 Broadway, New York, NY 10010, United States",
    "location": { "lat": 40.7437252, "lon": -73.9892474 },
    "category": "Restaurant",
    "category2": "Italian food"
  },
  {
    "name": "Fort Greene Park",
    "address": "85 S Oxford St, Brooklyn, NY 11217, United States",
    "location": { "lat": 40.6914132, "lon": -73.9755472 },
    "category": "Park",
    "category2": "Parks"
  },
  {
    "name": "Gordon Ramsay Fish & Chips",
    "address": "1500 Broadway, Unit 105, New York, NY 10036, United States",
    "location": { "lat": 40.756866, "lon": -73.985603 },
    "category": "Restaurant",
    "category2": "British food"
  },
  {
    "name": "New York Golf Center",
    "address": "131 W 35th St, New York, NY  10001, United States",
    "location": { "lat": 40.7512695, "lon": -73.9886198 },
    "category": "Store",
    "category2": "Golf"
  },
  {
    "name": "Five Iron Golf",
    "address": "138 5th Ave, New York, NY  10011, United States",
    "location": { "lat": 40.738966, "lon": -73.991979 },
    "category": "Golf",
    "category2": "Golf"
  },
  {
    "name": "Mall of the United States of America",
    "address": "New York City metropolitan area, New York, NY 10020, United States",
    "location": { "lat": 40.7599567, "lon": -73.9847209 },
    "category": "Store",
    "category2": "shopping"
  },
  {
    "name": "Mall of the United States of America",
    "address": "New York City metropolitan area, New York, NY 10020, United States",
    "location": { "lat": 40.7599567, "lon": -73.9847209 },
    "category": "Store",
    "category2": "Shopping"
  },
  {
    "name": "Mall of the United States of America",
    "address": "New York City metropolitan area, New York, NY 10020, United States",
    "location": { "lat": 40.7599567, "lon": -73.9847209 },
    "category": "Store",
    "category2": "Malls"
  },
  {
    "name": "ICHIRAN",
    "address": "132 W 31st St, New York, NY 10001, United States",
    "location": { "lat": 40.7482982, "lon": -73.9904791 },
    "category": "Restaurant",
    "category2": "Japanese food"
  },
  {
    "name": "Game of 1000 Boxes",
    "address": "248 W 37th St, New York, NY 10018, United States",
    "location": { "lat": 40.7533121, "lon": -73.9910156 },
    "category": "Arcade",
    "category2": "Arcade"
  },
  {
    "name": "Culture Espresso",
    "address": "247 W 36th St, New York, NY  10018, United States",
    "location": { "lat": 40.753174, "lon": -73.9914393 },
    "category": "Cafe",
    "category2": "Culture"
  },
  {
    "name": "Barcade",
    "address": "148 W 24th St, New York, NY 10011, United States",
    "location": { "lat": 40.7442713, "lon": -73.9945305 },
    "category": "Nightlife",
    "category2": "Arcade"
  },
  {
    "name": "The Shops at Columbus Circle",
    "address": "10 Columbus Cir, New York, NY 10019, United States",
    "location": { "lat": 40.7685492, "lon": -73.983146 },
    "category": "Store",
    "category2": "shopping"
  },
  {
    "name": "The Shops at Columbus Circle",
    "address": "10 Columbus Cir, New York, NY 10019, United States",
    "location": { "lat": 40.7685492, "lon": -73.983146 },
    "category": "Store",
    "category2": "Shopping"
  },
  {
    "name": "Pebble Beach",
    "address": "65 Plymouth St, Brooklyn, NY 11201, United States",
    "location": { "lat": 40.704188, "lon": -73.990605 },
    "category": "Beach",
    "category2": "Beach"
  },
  {
    "name": "Atlantic Terminal",
    "address": "625 Atlantic Ave, Brooklyn, NY 11217, United States",
    "location": { "lat": 40.6839575, "lon": -73.9754748 },
    "category": "Store",
    "category2": "Malls"
  },
  {
    "name": "Culture Espresso",
    "address": "307 W 38th St, New York, NY  10018, United States",
    "location": { "lat": 40.7551781, "lon": -73.9922133 },
    "category": "Cafe",
    "category2": "Culture"
  },
  {
    "name": "Washington Square Park",
    "address": "5 Ave, Waverly Pl., W. 4 St. and Macdougal St., New York, NY 10012, United States",
    "location": { "lat": 40.7308768, "lon": -73.9976031 },
    "category": "Park",
    "category2": "Parks"
  },
  {
    "name": "Coexist Gaming",
    "address": "325 W 38th St, New York, NY  10018, United States",
    "location": { "lat": 40.7554146, "lon": -73.9927105 },
    "category": "Arcade",
    "category2": "Arcade"
  },
  {
    "name": "OS",
    "address": "50 Bowery, New York, NY 10013, United States",
    "location": { "lat": 40.715955, "lon": -73.9967787 },
    "category": "Arcade",
    "category2": "Arcade"
  },
  {
    "name": "Culture An American Yogurt Company",
    "address": "60 W Eighth St, New York, NY 10011, United States",
    "location": { "lat": 40.7333105, "lon": -73.9991517 },
    "category": "Restaurant",
    "category2": "Culture"
  },
  {
    "name": "Lord's",
    "address": "506 Laguardia Pl, New York, NY 10012, United States",
    "location": { "lat": 40.7277019, "lon": -73.9995021 },
    "category": "Restaurant",
    "category2": "British food"
  },
  {
    "name": "Chinatown Fair Family Fun Center",
    "address": "8 Mott St, New York, NY  10013, United States",
    "location": { "lat": 40.7140093, "lon": -73.9986255 },
    "category": "Arcade",
    "category2": "Arcade"
  },
  {
    "name": "Canal Shopping Center",
    "address": "263 Canal St, New York, NY 10013, United States",
    "location": { "lat": 40.7189656, "lon": -74.0007112 },
    "category": "Store",
    "category2": "shopping"
  },
  {
    "name": "Canal Shopping Center",
    "address": "263 Canal St, New York, NY 10013, United States",
    "location": { "lat": 40.7189656, "lon": -74.0007112 },
    "category": "Store",
    "category2": "Shopping"
  },
  {
    "name": "Queens Center",
    "address": "90-15 Queens Blvd, Elmhurst, NY  11373, United States",
    "location": { "lat": 40.7347872, "lon": -73.8688409 },
    "category": "Store",
    "category2": "shopping"
  },
  {
    "name": "Queens Center",
    "address": "90-15 Queens Blvd, Elmhurst, NY  11373, United States",
    "location": { "lat": 40.7347872, "lon": -73.8688409 },
    "category": "Store",
    "category2": "Shopping"
  },
  {
    "name": "Queens Center",
    "address": "90-15 Queens Blvd, Elmhurst, NY  11373, United States",
    "location": { "lat": 40.7347872, "lon": -73.8688409 },
    "category": "Store",
    "category2": "Malls"
  },
  {
    "name": "Golf Wang",
    "address": "35 Howard St, New York, NY 10013, United States",
    "location": { "lat": 40.7195109, "lon": -74.0010335 },
    "category": "Store",
    "category2": "Golf"
  },
  {
    "name": "Tea & Sympathy",
    "address": "108 Greenwich Ave, New York, NY  10011, United States",
    "location": { "lat": 40.7382855, "lon": -74.0019666 },
    "category": "Restaurant",
    "category2": "British food"
  },
  {
    "name": "The Shops at Atlas Park",
    "address": "8000 Cooper Ave, Glendale, NY 11385, United States",
    "location": { "lat": 40.7086697, "lon": -73.8693666 },
    "category": "Store",
    "category2": "shopping"
  },
  {
    "name": "The Shops at Atlas Park",
    "address": "8000 Cooper Ave, Glendale, NY 11385, United States",
    "location": { "lat": 40.7086697, "lon": -73.8693666 },
    "category": "Store",
    "category2": "Shopping"
  },
  {
    "name": "The Shops at Atlas Park",
    "address": "8000 Cooper Ave, Glendale, NY 11385, United States",
    "location": { "lat": 40.7086697, "lon": -73.8693666 },
    "category": "Store",
    "category2": "Malls"
  },
  {
    "name": "The Shops and Restaurants at Hudson Yards",
    "address": "20 Hudson Yards, New York, NY 10001, United States",
    "location": { "lat": 40.7535445, "lon": -74.000782 },
    "category": "Store",
    "category2": "shopping"
  },
  {
    "name": "The Shops and Restaurants at Hudson Yards",
    "address": "20 Hudson Yards, New York, NY 10001, United States",
    "location": { "lat": 40.7535445, "lon": -74.000782 },
    "category": "Store",
    "category2": "Shopping"
  },
  {
    "name": "The Shops and Restaurants at Hudson Yards",
    "address": "20 Hudson Yards, New York, NY 10001, United States",
    "location": { "lat": 40.7535445, "lon": -74.000782 },
    "category": "Store",
    "category2": "Malls"
  },
  {
    "name": "Myers of Keswick",
    "address": "634 Hudson St, New York, NY 10014, United States",
    "location": { "lat": 40.7385339, "lon": -74.0053636 },
    "category": "FoodMarket",
    "category2": "British food"
  },
  {
    "name": "Oscar's Place",
    "address": "466 Hudson St, New York, NY  10014, United States",
    "location": { "lat": 40.7317955, "lon": -74.0063846 },
    "category": "Restaurant",
    "category2": "British food"
  },
  {
    "name": "Laser Bounce Queens",
    "address": "80-28 Cooper Ave, Glendale, NY 11385, United States",
    "location": { "lat": 40.70813, "lon": -73.8677075 },
    "category": "Arcade",
    "category2": "Arcade"
  },
  {
    "name": "Chelsea Market",
    "address": "75 Ninth Ave, New York, NY 10011, United States",
    "location": { "lat": 40.7425708, "lon": -74.0060677 },
    "category": "Store",
    "category2": "shopping"
  },
  {
    "name": "Chelsea Market",
    "address": "75 Ninth Ave, New York, NY 10011, United States",
    "location": { "lat": 40.7425708, "lon": -74.0060677 },
    "category": "Store",
    "category2": "Shopping"
  },
  {
    "name": "Pier 4 Beach",
    "address": "Montague St, Brooklyn, NY 11201, United States",
    "location": { "lat": 40.6965775, "lon": -73.9990686 },
    "category": "Beach",
    "category2": "Beach"
  },
  {
    "name": "Chelsea Piers - The Golf Club Driving Range",
    "address": "59 Chelsea Piers, New York, NY 10011, United States",
    "location": { "lat": 40.7454654, "lon": -74.0089423 },
    "category": "Golf",
    "category2": "Golf"
  },
  {
    "name": "Culture",
    "address": "331 Fifth Ave, Brooklyn, NY  11215, United States",
    "location": { "lat": 40.6723556, "lon": -73.9834802 },
    "category": "Restaurant",
    "category2": "Culture"
  },
  {
    "name": "Forest Park Golf Course",
    "address": "101 Forest Park Dr, Wood Haven, NY 11421, United States",
    "location": { "lat": 40.69949, "lon": -73.863724 },
    "category": "Golf",
    "category2": "Golf"
  },
  {
    "name": "Hudson Beach",
    "address": "W 105th St & Riverside Dr, New York, NY 10025, United States",
    "location": { "lat": 40.8026774, "lon": -73.9719067 },
    "category": "Beach",
    "category2": "Beach"
  },
  {
    "name": "Brookfield Place",
    "address": "230 Vesey St, New York, NY 10281, United States",
    "location": { "lat": 40.7123672, "lon": -74.0154538 },
    "category": "Store",
    "category2": "shopping"
  },
  {
    "name": "Brookfield Place",
    "address": "230 Vesey St, New York, NY 10281, United States",
    "location": { "lat": 40.7123672, "lon": -74.0154538 },
    "category": "Store",
    "category2": "Shopping"
  },
  {
    "name": "Brookfield Place",
    "address": "230 Vesey St, New York, NY 10281, United States",
    "location": { "lat": 40.7123672, "lon": -74.0154538 },
    "category": "Store",
    "category2": "Malls"
  },
  {
    "name": "Newport Beach",
    "address": "636 Washington Blvd, Jersey City, NJ  07310, United States",
    "location": { "lat": 40.7315475, "lon": -74.0311119 },
    "category": "Beach",
    "category2": "Beach"
  },
  {
    "name": "Flushing Meadows Pitch & Putt",
    "address": "100 Flushing Meadows Park, Flushing, NY 11368, United States",
    "location": { "lat": 40.7515403, "lon": -73.8406456 },
    "category": "Golf",
    "category2": "Golf"
  },
  {
    "name": "Kings Plaza Shopping Center",
    "address": "5100 Kings Plaza, Brooklyn, NY 11234, United States",
    "location": { "lat": 40.6104014, "lon": -73.9192986 },
    "category": "Store",
    "category2": "Malls"
  },
  {
    "name": "21 Golf Range",
    "address": "1 US Highway 46 West\nPalisades Park, NJ  07650\nUnited States",
    "location": { "lat": 40.8456858, "lon": -74.0081375 },
    "category": "Golf",
    "category2": "Golf"
  },
  {
    "name": "Plumb Beach",
    "address": "Belt Pkwy E, Brooklyn, NY 11235, United States",
    "location": { "lat": 40.5827847, "lon": -73.9208221 },
    "category": "Beach",
    "category2": "Beach"
  },
  {
    "name": "Skyway Golf Course",
    "address": "515 Duncan Ave, Jersey City, NJ 07306, United States",
    "location": { "lat": 40.7327385, "lon": -74.0920007 },
    "category": "Golf",
    "category2": "Golf"
  },
  {
    "name": "Brighton Beach",
    "address": "Brooklyn, NY 11224, United States",
    "location": { "lat": 40.5742427, "lon": -73.9607732 },
    "category": "Beach",
    "category2": "Beach"
  },
  {
    "name": "Coney Island Beach & Boardwalk",
    "address": "Coney Island Beach & Boardwalk, Brooklyn, NY 11224, United States",
    "location": { "lat": 40.5717185, "lon": -73.9848518 },
    "category": "Beach",
    "category2": "Beach"
  },
  {
    "name": "South Beach",
    "address": "Father Capodanno Blvd, Staten Island, NY 10306, United States",
    "location": { "lat": 40.5885687, "lon": -74.0657553 },
    "category": "Beach",
    "category2": "Beach"
  },
  {
    "name": "Orchard Beach and Promenade",
    "address": "Orchard Beach Rd, Pelham, NY 10803, United States",
    "location": { "lat": 40.8662761, "lon": -73.7930632 },
    "category": "Beach",
    "category2": "Beach"
  },
  {
    "name": "The Mills at Jersey Gardens",
    "address": "651 Kapkowski Rd, Elizabeth, NJ  07201, United States",
    "location": { "lat": 40.6600427, "lon": -74.1714766 },
    "category": "Store",
    "category2": "Malls"
  },
  {
    "name": "Roosevelt Field",
    "address": "630 Old Country Rd, Garden City, NY  11530, United States",
    "location": { "lat": 40.7381999, "lon": -73.6127522 },
    "category": "Store",
    "category2": "Malls"
  }
]


places_df = pd.DataFrame(data)
places_df
original_data = places_df.copy()
original_data

,name,address,location,category,category2
0,Msgr. McGolrick Park,"Russell St, Brooklyn, NY 11222, United States","{'lat': 40.7245247, 'lon': -73.9433692}",Park,Parks
1,Kyoto Sushi,"161 Nassau Ave, New York, NY 11222, United States","{'lat': 40.7252302, 'lon': -73.9469361}",Restaurant,Japanese food
2,McCarren Park Playground,"Brooklyn, NY 11222, United States","{'lat': 40.7214208, 'lon': -73.9498436}",Park,Parks
3,Scalino Gp,"659 Manhattan Ave, Brooklyn, NY 11222, United ...","{'lat': 40.7244821, 'lon': -73.9514905}",Restaurant,Italian food
4,IL Passatore,"14 Bushwick Ave, Brooklyn, NY 11211, United St...","{'lat': 40.7143514, 'lon': -73.9420846}",Restaurant,Italian food
...,...,...,...,...,...
114,Coney Island Beach & Boardwalk,"Coney Island Beach & Boardwalk, Brooklyn, NY 1...","{'lat': 40.5717185, 'lon': -73.9848518}",Beach,Beach
115,South Beach,"Father Capodanno Blvd, Staten Island, NY 10306...","{'lat': 40.5885687, 'lon': -74.0657553}",Beach,Beach
116,Orchard Beach and Promenade,"Orchard Beach Rd, Pelham, NY 10803, United States","{'lat': 40.8662761, 'lon': -73.7930632}",Beach,Beach
117,The Mills at Jersey Gardens,"651 Kapkowski Rd, Elizabeth, NJ 07201, United...","{'lat': 40.6600427, 'lon': -74.1714766}",Store,Malls
118,Roosevelt Field,"630 Old Country Rd, Garden City, NY 11530, Un...","{'lat': 40.7381999, 'lon': -73.6127522}",Store,Malls

In [3]:
#Themes
# Themes with relevant categories

romantic_date = [
    "Cafe", "Restaurant", "Bakery", "AmusementPark", "Beach", "Winery", 
    "Theater", "MovieTheater", "Park", "Zoo", "Aquarium", "Store", 
    "MiniGolf", "Bowling", "MusicVenue", "Store", "Mall"
]

family_outing = [
    "AmusementPark", "Zoo", "Aquarium", "Park", "Playground", "MovieTheater", 
    "Museum", "NationalPark", "Beach", "Campground", "FoodMarket"
]

outdoor_adventure = [
    "NationalPark", "Park", "Beach", "Hiking", "Kayaking", "Fishing", 
    "Golf", "MiniGolf", "RockClimbing", "RVPark", "SkatePark", "Skating", 
    "Skiing", "Surfing", "Swimming", "Tennis", "Volleyball"
]

educational_trip = [
    "Museum", "Library", "Aquarium", "NationalPark", "Planetarium", "Zoo", 
    "University", "Landmark", "NationalMonument", "ReligiousSite"
]

night_out = [
    "Nightlife", "Brewery", "Restaurant", "MovieTheater", "Theater", 
    "MusicVenue", "Casino", "Bar", "Store", "Winery"
]

relaxation_and_wellness = [
    "Beach", "Spa", "FitnessCenter", "Park", "Yoga", "MeditationCenter"
]

sports_and_fitness = [
    "Stadium", "FitnessCenter", "Golf", "Tennis", "Basketball", "Soccer", 
    "Baseball", "Swimming", "Volleyball", "Bowling", "RockClimbing", 
    "Hiking", "Kayaking", "Surfing", "Skating", "Skiing", "SkatePark"
]

shopping_spree = [
    "Store", "FoodMarket", "Mall", "Pharmacy"
]

kids_fun_day = [
    "AmusementPark", "Zoo", "Aquarium", "Park", "Playground", "MovieTheater", 
    "MiniGolf", "Bowling", "Fairground", "GoKart"
]

historical_and_cultural_exploration = [
    "Museum", "Castle", "Fortress", "Landmark", "NationalMonument", 
    "ReligiousSite", "Planetarium", "Fairground", "ConventionCenter"
]

Vacation = [
    "Hotel", "Beach", "NationalPark", "Park", "Winery", "Campground", 
    "Marina", "Skiing", "RVPark", "Store"
]

food_and_drink = [
    "Restaurant", "Cafe", "Bakery", "Brewery", "Winery", "FoodMarket"
]

In [4]:
user_profile = [
    {
        "User": "User1",
        "Theme": shopping_spree,
        "Other": ["Korean food", "Spa", "Nightlife", "Belgian food"],
        "Budget": 2
    },

]

df_user_profile = pd.DataFrame(user_profile)

df_user_profile

,User,Theme,Other,Budget
0,User1,"[Store, FoodMarket, Mall, Pharmacy]","[Korean food, Spa, Nightlife, Belgian food]",2

In [5]:
places_df['combined_category'] = places_df.apply(lambda row: [row['category'], row['category2']], axis=1)
df_user_profile['combined_preferences'] = df_user_profile.apply(lambda row: row['Theme'] + row['Other'], axis=1)

places_df
df_user_profile

,User,Theme,Other,Budget,combined_preferences
0,User1,"[Store, FoodMarket, Mall, Pharmacy]","[Korean food, Spa, Nightlife, Belgian food]",2,"[Store, FoodMarket, Mall, Pharmacy, Korean foo..."

In [6]:
mlb = MultiLabelBinarizer()
le_name = LabelEncoder()
le_address = LabelEncoder()

# Fit the MultiLabelBinarizer on both places and user preferences
all_categories = list(places_df['combined_category'].explode().unique()) + list(df_user_profile['combined_preferences'].explode().unique())
mlb.fit([all_categories])

# Transform the combined categories
places_encoded = mlb.transform(places_df['combined_category'])
user_encoded = mlb.transform(df_user_profile['combined_preferences'])

# Encode the name and address columns
places_df['name_encoded'] = le_name.fit_transform(places_df['name'])
places_df['address_encoded'] = le_address.fit_transform(places_df['address'])

# Extract latitude and longitude
places_df['lat'] = places_df['location'].apply(lambda x: x['lat'])
places_df['lon'] = places_df['location'].apply(lambda x: x['lon'])

# Create the final places feature matrix
places_features = np.hstack([places_df[['name_encoded', 'address_encoded', 'lat', 'lon']].values, places_encoded])
user_features = np.hstack([user_encoded, df_user_profile[['Budget']].values])

places_features

array([[55.       , 97.       , 40.7245247, ...,  0.       ,  0.       ,
         0.       ],
       [42.       , 25.       , 40.7252302, ...,  0.       ,  0.       ,
         0.       ],
       [53.       , 90.       , 40.7214208, ...,  0.       ,  0.       ,
         0.       ],
       ...,
       [61.       , 96.       , 40.8662761, ...,  0.       ,  0.       ,
         0.       ],
       [88.       , 76.       , 40.6600427, ...,  0.       ,  1.       ,
         0.       ],
       [73.       , 70.       , 40.7381999, ...,  0.       ,  1.       ,
         0.       ]])

In [7]:
places_tensor = torch.tensor(places_features, dtype=torch.float32)
user_tensor = torch.tensor(user_features, dtype=torch.float32)
places_tensor, user_tensor

places_tensor.shape, user_tensor.shape

(torch.Size([119, 30]), torch.Size([1, 27]))

In [8]:
ratings_data = {
    "User": ["User1", "User1", "User2", "User3", "User4", "User4", "User3", "User2"],
    "Address": ["Potomac Pizza", "SeoulSpice", "Mamma Lucia", "National Archives archeological site", "Pebbles Wellness Spa", "Looney's Pub", "University of Maryland Golf Course", "The Cornerstone Grill & Loft"],
    "Rating": [5, 2, 1, 2, 2, 3, 2, 2]
}

ratings_df = pd.DataFrame(ratings_data)

# # Create user and item indices
user_encoder = LabelEncoder()
item_encoder = LabelEncoder()

ratings_df['user_idx'] = user_encoder.fit_transform(ratings_df['User'])
ratings_df['item_idx'] = item_encoder.fit_transform(ratings_df['Address'])

# Create the user-item interaction matrix
num_users = len(user_encoder.classes_)
num_items = len(places_df)
interaction_matrix = np.zeros((num_users, num_items))

for _, row in ratings_df.iterrows():
    user_idx = row['user_idx']
    item_idx = row['item_idx']
    rating = row['Rating']
    interaction_matrix[user_idx, item_idx] = rating

# Convert interaction matrix to tensor
interaction_tensor = torch.tensor(interaction_matrix, dtype=torch.float32)

interaction_tensor
ratings_df

    User                               Address  Rating  user_idx  item_idx
0  User1                         Potomac Pizza       5         0         4
1  User1                            SeoulSpice       2         0         5
2  User2                           Mamma Lucia       1         1         1
3  User3  National Archives archeological site       2         2         2
4  User4                  Pebbles Wellness Spa       2         3         3
5  User4                          Looney's Pub       3         3         0
6  User3    University of Maryland Golf Course       2         2         7
7  User2          The Cornerstone Grill & Loft       2         1         6

In [9]:
class ContentModel(nn.Module):
    def __init__(self, input_dim):
        super(ContentModel, self).__init__()
        self.fc1 = nn.Linear(input_dim, 128)
        self.fc2 = nn.Linear(128, 64)
        self.fc4 = nn.Linear(64, 1)

    def forward(self, x):
        x = torch.relu(self.fc1(x))
        x = torch.relu(self.fc2(x))
        x = self.fc4(x)
        return x

In [10]:
class CollaborativeFilteringModel(nn.Module):
    def __init__(self, num_users, num_items, num_factors):
        super(CollaborativeFilteringModel, self).__init__()
        self.user_factors = nn.Embedding(num_users, num_factors)
        self.item_factors = nn.Embedding(num_items, num_factors)
        
    def forward(self, user, item):
        return (self.user_factors(user) * self.item_factors(item)).sum(1)

In [11]:
class HybridModel(nn.Module):
    def __init__(self, content_input_dim, num_users, num_items, num_factors):
        super(HybridModel, self).__init__()
        self.content_model = ContentModel(content_input_dim)
        self.cf_model = CollaborativeFilteringModel(num_users, num_items, num_factors)
        self.fc = nn.Linear(2, 1)  # Combine content and CF scores
        
    def forward(self, content_input, user, item):
        content_score = self.content_model(content_input)
        cf_score = self.cf_model(user, item)
        combined = torch.cat((content_score, cf_score.unsqueeze(1)), dim=1)
        return self.fc(combined)

# Calculate similarity (cosine similarity)
def cosine_similarity(tensor1, tensor2):
    dot_product = torch.sum(tensor1 * tensor2, dim=1)
    norm1 = torch.norm(tensor1, dim=1)
    norm2 = torch.norm(tensor2, dim=1)
    return dot_product / (norm1 * norm2)

In [12]:
num_factors = 20
input_dim = places_tensor.shape[1] + user_tensor.shape[1]
model = HybridModel(input_dim, num_users, num_items, num_factors)

# Loss and optimizer
criterion = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)

model
input_dim

57

In [13]:
epochs = 1000
for epoch in range(epochs):
    total_loss = 0
    for user_idx in range(user_tensor.shape[0]):
        current_user_tensor = user_tensor[user_idx].unsqueeze(0)
        current_user_tensor_repeated = current_user_tensor.repeat(places_tensor.shape[0], 1)
        user_place_tensor = torch.cat((current_user_tensor_repeated, places_tensor), dim=1)
        
        current_user_pref_tensor = torch.tensor(user_encoded[user_idx], dtype=torch.float32).unsqueeze(0)
        place_pref_tensor = torch.tensor(places_encoded, dtype=torch.float32)
        similarity = cosine_similarity(current_user_pref_tensor, place_pref_tensor).reshape(-1, 1)
        
        optimizer.zero_grad()
        user_indices = torch.full((places_tensor.shape[0],), user_idx, dtype=torch.long)
        item_indices = torch.arange(places_tensor.shape[0], dtype=torch.long)
        output = model(user_place_tensor, user_indices, item_indices)
        loss = criterion(output, similarity)
        
        loss.backward()
        optimizer.step()
        
        total_loss += loss.item()
    
    if (epoch+1) % 100 == 0:
        print(f'Epoch {epoch+1}/{epochs}, Avg Loss: {total_loss/user_tensor.shape[0]:.4f}')

Epoch 100/1000, Avg Loss: 0.0289
Epoch 200/1000, Avg Loss: 0.0054
Epoch 300/1000, Avg Loss: 0.0011
Epoch 400/1000, Avg Loss: 0.0004
Epoch 500/1000, Avg Loss: 0.0002
Epoch 600/1000, Avg Loss: 0.0002
Epoch 700/1000, Avg Loss: 0.0001
Epoch 800/1000, Avg Loss: 0.0001
Epoch 900/1000, Avg Loss: 0.0001
Epoch 1000/1000, Avg Loss: 0.0000

In [14]:



def get_recommendations(user_idx):
    model.eval()
    with torch.no_grad():
        current_user_tensor = user_tensor[user_idx].unsqueeze(0)
        current_user_tensor_repeated = current_user_tensor.repeat(places_tensor.shape[0], 1)
        user_place_tensor = torch.cat((current_user_tensor_repeated, places_tensor), dim=1)
        
        user_indices = torch.full((places_tensor.shape[0],), user_idx, dtype=torch.long)
        item_indices = torch.arange(places_tensor.shape[0], dtype=torch.long)
        
        predictions = model(user_place_tensor, user_indices, item_indices)
        predictions = predictions.numpy().flatten()

    recommendations = places_df.copy()
    recommendations['hybrid_score'] = predictions

    # Get content-based and collaborative filtering scores separately
    content_scores = model.content_model(user_place_tensor).detach().numpy().flatten()
    cf_scores = model.cf_model(user_indices, item_indices).detach().numpy().flatten()

    recommendations['content_score'] = content_scores
    recommendations['cf_score'] = cf_scores

    def normalize_score_hybrid(score):
        return 10 * (score - score.min()) / (score.max() - score.min())

    recommendations['hybrid_score'] = normalize_score_hybrid(recommendations['hybrid_score'])

    # Sort recommendations by hybrid score
    recommendations = recommendations.sort_values(by='hybrid_score', ascending=False)
    

    return recommendations

# Get recommendations for a specific user (e.g., user index 1, which corresponds to "User2")
user_idx = 0
recommendations = get_recommendations(user_idx)
selected_columns = ['name', 'address', 'combined_category', 'hybrid_score', 'content_score', 'cf_score']
recommendations[selected_columns]
# recommendations['name', 'address', 'combined_category', 'hybrid_score', 'content_score', 'cf_score']
recommendations

,name,address,location,category,category2,combined_category,name_encoded,address_encoded,lat,lon,hybrid_score,content_score,cf_score
85,Queens Center,"90-15 Queens Blvd, Elmhurst, NY 11373, United...","{'lat': 40.7347872, 'lon': -73.8688409}",Store,Malls,"[Store, Malls]",68,86,40.734787,-73.868841,10.000000,-1.599231,1.319975
47,The Shops at The Plaza,"1 W 58th St, New York, NY 10019, United States","{'lat': 40.764257, 'lon': -73.974493}",Store,Shopping,"[Store, Shopping]",93,2,40.764257,-73.974493,9.941692,-1.621931,-0.279090
63,Mall of the United States of America,"New York City metropolitan area, New York, NY ...","{'lat': 40.7599567, 'lon': -73.9847209}",Store,shopping,"[Store, shopping]",49,95,40.759957,-73.984721,9.880307,-1.588937,1.271039
105,Brookfield Place,"230 Vesey St, New York, NY 10281, United States","{'lat': 40.7123672, 'lon': -74.0154538}",Store,Shopping,"[Store, Shopping]",9,33,40.712367,-74.015454,9.861335,-1.599443,0.573348
84,Queens Center,"90-15 Queens Blvd, Elmhurst, NY 11373, United...","{'lat': 40.7347872, 'lon': -73.8688409}",Store,Shopping,"[Store, Shopping]",68,86,40.734787,-73.868841,9.757507,-1.605036,-0.294489
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,Blend On The Water,"45-40 Center Blvd, Long Island City, NY 11109,...","{'lat': 40.7480047, 'lon': -73.9571285}",Restaurant,Eating,"[Restaurant, Eating]",7,56,40.748005,-73.957128,0.385857,-0.621571,5.959839
111,Plumb Beach,"Belt Pkwy E, Brooklyn, NY 11235, United States","{'lat': 40.5827847, 'lon': -73.9208221}",Beach,Beach,"[Beach, Beach]",66,89,40.582785,-73.920822,0.275975,-0.795850,-4.527848
5,Forma Pasta Factory,"14 Bedford Ave, Brooklyn, NY 11222, United States","{'lat': 40.7237869, 'lon': -73.9515415}",Restaurant,Italian food,"[Restaurant, Italian food]",28,18,40.723787,-73.951542,0.266573,-0.652911,3.546657
78,Culture An American Yogurt Company,"60 W Eighth St, New York, NY 10011, United States","{'lat': 40.7333105, 'lon': -73.9991517}",Restaurant,Culture,"[Restaurant, Culture]",19,68,40.733311,-73.999152,0.176639,-0.702464,0.253772
72,Pebble Beach,"65 Plymouth St, Brooklyn, NY 11201, United States","{'lat': 40.704188, 'lon': -73.990605}",Beach,Beach,"[Beach, Beach]",63,74,40.704188,-73.990605,0.000000,-0.801260,-6.297190

In [15]:
def save_model(model, file_path):
    # Save the model architecture parameters along with the state dict
    model_info = {
        'content_input_dim': model.content_model.fc1.in_features,
        'num_factors': model.cf_model.user_factors.embedding_dim,
        'state_dict': model.state_dict()
    }
    torch.save(model_info, file_path)

# Usage
save_model(model, 'model.pth')

In [16]:
def load_model(file_path, num_users, num_items):
    model_info = torch.load(file_path)

    # Recreate the model with current dataset dimensions
    loaded_model = HybridModel(
        content_input_dim=model_info['content_input_dim'],
        num_users=num_users,
        num_items=num_items,
        num_factors=model_info['num_factors']
    )

    # Load the saved state dict
    state_dict = model_info['state_dict']

    # Filter out incompatible keys (user and item embeddings)
    compatible_state_dict = {k: v for k, v in state_dict.items()
                             if k not in ['cf_model.user_factors.weight', 'cf_model.item_factors.weight']}

    # Load the compatible weights
    loaded_model.load_state_dict(compatible_state_dict, strict=False)

    return loaded_model